:root {
    font-family: 'League Spartan', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 200px 1fr;
    text-align: center;
    line-height: 1.5;
    background-color: #E1E5EE;
    color: #2A324B;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
}

.header {
    background-color: #2A324B;
    color: #F7C59F;
    font-size: 3rem;
    font-weight: bold;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #767B91;
}

.main {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    box-sizing: border-box;
    padding: 50px;
    position:relative;
    height: min-content;
    align-self: start;
}

/*-------------Add Book Form Style-------------*/
#book-form {
    color: black;
    display: none;
    background-color: #F7C59F;  
    border: 2px solid #767B91;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 250px;
    justify-self: center;
    box-shadow: 3px 3px 10px gray;
    z-index: 10;
}

form {
    padding: 50px 20px 50px 20px;
    display: flex;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 10px;
    text-align: right;
}

#bottom {
    display: flex;
    justify-content: space-around;
}

#submit {
    justify-self: center;
}

button {
    font-family: 'League Spartan', sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #E1E5EE;
}


/*----------Library Table Style----------*/
.table {
    grid-column: 2 / 3;
    position: relative;
}

th {
    font-size: 1.2rem;
    font-weight: bold;
}

td, th {
    display: grid;
    height: 50px;
    padding: 5px;
    justify-items: left;
    align-items: center;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 125px 125px;
    border-bottom: 1px solid #767B91;
}

.read-status-button {
    border: 2px solid red;
}

.read {
    border: 2px solid green;
}